$grid-columns: 24;

.generate-columns($grid-columns, $index: 1) when ($index =< $grid-columns){
  .cb-col-${index}{
    float: left;
    box-sizing: border-box;
    display: block;
    width: percentage(($index / $grid-columns));
  }
  .cb-col-offset-${index}{
    margin-left: percentage(($index / $grid-columns));;
  }

  .generate-columns($grid-columns, ($index + 1));
}

.cb-row{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  .generate-columns($grid-columns);
}
